{
  "presets": [
    ["env", { "modules": false }]{{#stage2}},
    "stage-2"
    {{/stage2}}
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}